<div class="app-container container mx-auto px-4">
    <form class="my-2" action="" method="post" [formGroup]="todoForm">
        <div class="todo-form-container" class="flex flex-col gap-3">
            <div class="flex justify-content-center">
                <div class="flex flex-col">
                    <label class="text-md" for="name">Tên Nhiệm Vụ: </label>
                    <input pInputText id="name" aria-describedby="username-help" formControlName="name" />
                </div>
            </div>
            <p-accordion [activeIndex]="0">
                <p-accordionTab header="Thông tin thêm (Không Bắt Buộc)">
                    <div class="flex flex-col">
                        <label for="additional-info">Thông tin thêm: </label>
                        <textarea class="border" rows="5" cols="30" pInputTextarea formControlName="desc"
                            variant="filled" [autoResize]="false">
                    </textarea>
                    </div>
                </p-accordionTab>
            </p-accordion>
            <p-button label="Nhập" (onClick)="onCreateTodo()" icon="pi pi-plus" />
        </div>
    </form>

    <div class="todo-list-container">
        <ng-container *ngFor="let item of todos">
            <div class="card flex justify-content-center">
                <p-card class="todo-item-container">
                    <ng-template pTemplate="header">
                        <div class="m-4">
                            <ng-container *ngIf="item.editMode">
                                <input pInputText id="name" aria-describedby="name-help" [(ngModel)]="item.name"
                                    placeholder="Nhập tên nhiệm vụ" />
                            </ng-container>
                            <ng-container *ngIf="!item.editMode">
                                <h3 [ngClass]="item.completed === true ? 'completed' : ''" class="text-md font-bold">{{item.name}}</h3>
                            </ng-container>
                        </div>
                    </ng-template>
                    <p class="m-0 whitespace-pre-wrap">
                        {{item.desc}}
                    </p>
                    <div class="flex gap-2">
                        <ng-container *ngIf="!item.editMode">
                            <p-button icon="pi pi-check" severity="success" (onClick)="onCompleteTodo(item.id)"
                                iconPos="left" label="Hoàn Thành" />
                            <p-button icon="pi pi-pen" (onClick)="onEditTodo(item.id)" severity="warning" iconPos="left"
                                label="Sửa" />
                            <p-button icon="pi pi-times" severity="danger" (onClick)="onDeleteTodo(item.id)"
                                iconPos="left" label="Xóa" />
                        </ng-container>
                        <ng-container *ngIf="item.editMode">
                            <p-button icon="pi pi-pen" (onClick)="onUpdateTodo(item)" severity="warning" iconPos="left"
                                label="Sửa" />
                        </ng-container>

                    </div>
                </p-card>

            </div>
        </ng-container>

    </div>
</div>